{% extends 'base.html' %}

{% block title %}
  {{ block.super }} - Professores
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'cadastro:home' %}">Home</a></li>
  <li class="breadcrumb-item active">Professores</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'cadastro:professor-create' %}" class="btn btn-primary">Novo Professor</a>
  </div>

  <div id="resultadosProfessores">
    {% include 'cadastro/professor/professor_list_table.html' %}
  </div>
{% endblock %}
