{% extends 'base.html' %}

{% block title %}{{ block.super }} - Novo Professor{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'cadastro:home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'cadastro:professor-list' %}">Professores</a></li>
  <li class="breadcrumb-item active">Novo Professor</li>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% include 'components/form.html' %}
    <button type="submit" class="btn btn-success">Salvar</button>
    <button type="button" class="btn btn-outline-danger" onclick="history.back()">Voltar</button>
  </form>
{% endblock %}