<table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Pago</th>
        <th>Data</th>
        <th>Tipo Despesa</th>
        <th>Valor</th>
        <th>Observação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for despesa in object_list %}
        <tr>
          <td>{{ despesa.pago }}</td>
          <td>{{ despesa.dtlancamento|date:'d/m/Y' }}</td>
          <td>{{ despesa.tipodespesa.descricao }}</td>
          <td class="text-end">R$ {{ despesa.valor|floatformat:2 }}</td>
          <td>{{ despesa.observacao }}</td>
          <td>
            <a href="{% url 'cadastro:despesa-update' pk=despesa.pk %}" class="btn btn-outline-primary">Editar</a>
            <button type="button" class="btn btn-outline-danger btn-remover" 
                    data-bs-toggle="modal" data-bs-target="#deleteModal"
                    data-item-id="{{ despesa.pk }}"
                    data-item-nome="{{ despesa.pk }}"
                    data-delete-url="{% url 'cadastro:despesa-delete' pk=despesa.pk %}">
              Remover
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'components/delete_modal.html' %}