{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alunos</h5>
          <p class="card-text">Lista de todos os alunos</p>
          <a href="{% url 'cadastro:aluno-list' %}" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Professores</h5>
          <p class="card-text">Lista de todos os professores</p>
          <a href="{% url 'cadastro:professor-list' %}" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Despesas</h5>
          <p class="card-text">Lista de todas as despesas</p>
          <a href="{% url 'cadastro:despesa-list' %}" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Receitas</h5>
          <p class="card-text">Lista de todas as receitas</p>
          <a href="{% url 'cadastro:receita-list' %}" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formas de Pagamento</h5>
          <p class="card-text">Lista de todas as formas de pagamento</p>
          <a href="{% url 'cadastro:formapgto-list' %}" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tipos de Despesas</h5>
          <p class="card-text">Lista de todos os tipos de despesas</p>
          <a href="{% url 'cadastro:tipodespesa-list' %}" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
