<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmar Remoção</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja remover o registro <b><span id="itemNome"></span></b>?
      </div>
      <div class="modal-footer">
        <form id="deleteForm" method="POST" action="">
          {% csrf_token %}
          <input type="submit" value="Remover" class="btn btn-danger">
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const deleteModal = document.getElementById('deleteModal');
    const deleteForm = document.getElementById('deleteForm');
    const itemNomeSpan = document.getElementById('itemNome');

    deleteModal.addEventListener('show.bs.modal', function(event) {
      const button = event.relatedTarget;
      const itemId = button.getAttribute('data-item-id');
      const itemNome = button.getAttribute('data-item-nome');
      const deleteUrl = button.getAttribute('data-delete-url');

      itemNomeSpan.textContent = itemNome;
      deleteForm.action = deleteUrl;
    });
  });
</script>