{% extends 'base.html' %}

{% block title %}
  {{ block.super }} - Alunos
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'cadastro:home' %}">Home</a></li>
  <li class="breadcrumb-item active">Alunos</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'cadastro:aluno-create' %}" class="btn btn-primary">Novo Aluno</a>
  </div>

  <div class="mb-3">
    {% url 'cadastro:aluno-list' as url_list %}
    {% include 'components/filtro.html' with url=url_list resultadosDiv='resultadosAlunos' %}
  </div>

  <div id="resultadosAlunos">
    {% include 'cadastro/aluno/aluno_list_table.html' %}
  </div>
{% endblock %}
