{% extends 'base.html' %}

{% block title %}{{ block.super }} - Novo Pagamento{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'cadastro:home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'cadastro:pagamentos' %}">Pagamentos</a></li>
  <li class="breadcrumb-item active">Novo Pagamento</li>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'cadastro:pagamentos' %}" class="btn btn-outline-danger">Cancelar</a>
  </form>
{% endblock %}