{% extends 'base.html' %}

{% block title %}
  {{ block.super }} - Formas de Pagamento
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'cadastro:home' %}">Home</a></li>
  <li class="breadcrumb-item active">Formas de Pagamento</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'cadastro:formapgto-create' %}" class="btn btn-primary">Nova Forma de Pagamento</a>
  </div>

  <div id="resultadosFormasPgto">
    {% include 'cadastro/formapgto/formapgto_list_table.html' %}
  </div>
{% endblock %}
