{% extends 'base.html' %}

{% block title %}
  {{ block.super }} - Tipos de Despesas
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'cadastro:home' %}">Home</a></li>
  <li class="breadcrumb-item active">Tipos de Despesas</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'cadastro:tipodespesa-create' %}" class="btn btn-primary">Novo Tipo de Despesa</a>
  </div>

  <div id="resultadosTiposDespesa">
    {% include 'cadastro/tipodespesa/tipodespesa_list_table.html' %}
  </div>
{% endblock %}
